<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/about.html"><i class="fa fa-info-circle"></i>About</a></li>
        <li><a href="/learning.html"><i class="fa fa-book"></i>Learning Resources</a></li>
        <li><a href="/practice.html"><i class="fa fa-pencil"></i>Practice Resources</a></li>
        <li><a href="/supportus.html"><i class="fa fa-money"></i>Support Us!</a></li>
      </ul>
    </div>
  </nav>
</header>
